<div>
  <table class="table">
    <thead>
      <tr>
        <th>Personaje</th>
        <th>Franquicia</th>
        <th>Imagen</th>
        <th>Descripcion</th>
        <th>Video Presentacion</th>
      </tr>
    </thead>
    <tbody>      
      <tr *ngFor= "let item of data" class="success">
        <td>{{item.personaje}}</td>
        <td>{{item.franquicia}}</td>
        <td>{{item.imagen}}</td>
        <td>{{item.descripcion}}</td>
        <!--       
            <td><iframe width="150" height="150" [src]="item.video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
        -->
      </tr>
      
    </tbody>
  </table>

  <input type="text" [(ngModel)]="text1" />
  <input type="text" [(ngModel)]="text2" />
  <input type="text" [(ngModel)]="text3" />
  <button (click)="addElement(text1, text2, text3)">Agregar Elemento</button>
  
  <input type="text" [(ngModel)]="idEliminar" />
  <button (click)="deleteElement(idEliminar)">Eliminar Elemento</button>


  <input type="text" [(ngModel)]="text1"  value="id"/>
  <input type="text" [(ngModel)]="text2"  value="personaje"/>
  <input type="text" [(ngModel)]="text3"  value="franquicia"/>
  <input type="text" [(ngModel)]="text4"  value="descripcion"/>
  <button (click)="updateElement(text1, text2, text3, text4)">Agregar Elemento</button>

</div>


